<section class="gallery" id="gallery">
	<h2 class="visually-hidden">Gallery</h2>
	<div class="container">
		<ul class="gallery__list">
			<li class="gallery__item box1">
				<img
					id="1"
					class="gallery__image"
					src="./images/gallery/boy-150.jpg"
					alt="boy with ice cream"
					data-source="./images/gallery/boy-150.jpg"
				/>
			</li>
			<li class="gallery__item box2">
				<img
					id="2"
					class="gallery__image"
					src="./images/gallery/chocolate-6035054_150.jpg"
					alt="ice cream and banana"
					data-source="https://pixabay.com/get/g2b0c886d71179a643222cec016e2572902bc04f630cc0b6a1ffc265b084d68229da53af47fea551124f73ce0bd393984a5e9294f21fc9fe7974aa2853b53d36f_640.jpg"
				/>
			</li>
			<li class="gallery__item box3">
				<img
					id="3"
					class="gallery__image"
					src="./images/gallery/ice-564944_640.jpg"
					alt="ice cream and banana"
					data-source="https://pixabay.com/get/g39df43f178a7842317e94101832bb9a91a26e1f4820e824d546304e4383445e263e57a8f8c96481b8b85d9572fabce22_640.jpg"
				/>
			</li>

			<li class="gallery__item box4">
				<img
					id="4"
					class="gallery__image"
					src="./images/gallery/eat-3366425_150.jpg"
					alt="ice cream and banana"
					data-source="https://pixabay.com/get/gffabc5a77e8bcdc1e44df89593f98f6734e3c0fae4043df4b29a95136456be367e4ad5ddcce0894dc7b9b328ae7fed091967e7dbc8a682b13447b78704abd0e3_640.jpg"
				/>
			</li>
			<li class="gallery__item box5">
				<img
					id="5"
					class="gallery__image"
					src="./images/gallery/ice-cream-4858818_640.jpg"
					alt="ice cream and banana"
					data-source="https://pixabay.com/get/g4ec158c0a4ef41e6b3ea8dd24409a21faf1852d623f0d93fddf005e29b537307da537e53fd654fbaf4ee89fe806327f45616dd6ba12de35ac57422d0e0b89611_640.jpg"
				/>
			</li>
			<li class="gallery__item box7">
				<img
					id="7"
					class="gallery__image"
					src="./images/gallery/ice-4257695_150.jpg"
					alt="ice cream and banana"
					data-source="https://pixabay.com/get/ge473cad04c93ad1fc0ef7645216a71442d81a4f4f15e4df1041f2967b274abd6774e968e819186d0633e809410202b6dea6ab59b1b127151274644b564dbb797_640.jpg"
				/>
			</li>

			<li class="gallery__item box6">
				<img
					id="6"
					class="gallery__image"
					src="./images/gallery/ice-2367072_150.jpg"
					alt="ice cream and banana"
					data-source="https://pixabay.com/get/g48062c48dc9ca65caef4b6ffbeb697b7f995c8c162f4ebca75a905991e9df1bc998aa0e0f77d30ab61d4d119a35d9ea490d39309ce00a61e32c5db746be40586_640.jpg"
				/>
			</li>

			<li class="gallery__item box8">
				<img
					id="8"
					class="gallery__image"
					src="./images/gallery/cream-3092353_150.jpg"
					alt="ice cream and banana"
					data-source="https://pixabay.com/get/gbc380827bbc85037c871df6f653680638ef10c358403787cb37803266a249da8a3fc1bbf1bde045b7f0d5c09d66c12857553213aa0f5e6148ed592507421cb9c_640.jpg"
				/>
			</li>

			<li class="gallery__item box9">
				<img
					id="9"
					class="gallery__image"
					src="./images/gallery/ice-cream-1059784_150.jpg"
					alt="ice cream and banana"
					data-source="https://pixabay.com/get/g13301721b469323ce6fa60637e2c4c36480d985304f970a96e9858df4f071cd74f20f470e022e457ead8e494433189957a097d56b2d5016c0981d6617a3a5425_640.jpg"
				/>
			</li>
			<li class="gallery__item box10">
				<img
					id="10"
					class="gallery__image"
					src="./images/gallery/ice-cream-2202510_150.jpg"
					alt="ice cream and banana"
					data-source="https://pixabay.com/get/g42368c5c20708a1f7e038655244615e64ae3de6595d3a60bb8599c8b8b9146b91d5d9d4e5d0e8ac316e63be293358ea87658b828bf5e654e2779d7e6b072697e_640.jpg"
				/>
			</li>
			<li class="gallery__item box11">
				<img
					id="11"
					class="gallery__image"
					src="./images/gallery/ghirardelli-912759_150.jpg"
					alt="ice cream and banana"
					data-source="https://pixabay.com/get/g8ffba6d207e17b90ac4bf76016f33a855d4f78b821eebe3fe37a8ffc6d304ab8d1a6fa69b3d3cde7a0147f15ad60e1ad_640.jpg"
				/>
			</li>

			<li class="gallery__item box12">
				<img
					id="12"
					class="gallery__image"
					src="./images/gallery/ice-cream-3932592_150.jpg"
					alt="ice cream and banana"
					data-source="https://pixabay.com/get/g4f1a82647a369170433f455b55ab54f75c89f6592ac083dbe2c0e09cc897e9f280da54b9aa2d6ffd1bb537e6e55ebbcba9689c26b630e153ab6d303b65b4dc84_640.jpg"
				/>
			</li>

			<li class="gallery__item box13">
				<img
					id="13"
					class="gallery__image"
					src="./images/gallery/ice-cream-sundae-167570_150.jpg"
					alt="ice cream and banana"
					data-source="https://pixabay.com/get/gbb5bf9ee819a3951e621a6f53e99aace92cf5ed04141da92fe84d24f0b705ed550120a6576c56d6d26219ff5ed89b9b8_640.jpg"
				/>
			</li>

			<li class="gallery__item box15">
				<img
					id="15"
					class="gallery__image"
					src="./images/gallery/ice-cream-sundae-1858287_150.jpg"
					alt="ice cream in vase"
					data-source="https://pixabay.com/get/gd9b7edff39a8db690e0431d234847764cf2de34880780bc3349de8dc4081ba7d50ad355a47916898d4e7d10eb8b46eeb4c267ec95fabc574bc1b88742ac4c5f7_640.jpg"
				/>
			</li>
			<li class="gallery__item box14">
				<img
					id="14"
					class="gallery__image"
					src="./images/gallery/summer-4215686_150.jpg"
					alt="ice cream and sky"
					data-source="https://pixabay.com/get/g35266914da84c0b4c8993cff7fda0a1565c95f3d0701c92f30668edd784576dad62b18b684a04c289820560c7110037253971e1d46517b1bce85c9bfa9012db9_640.jpg"
				/>
			</li>
		</ul>
	</div>

	<div data-gallery-modal class="backdrop is-hidden">
		<div class="gallery-modal-container" data-gallery-modal-container></div>
		<!-- </div> -->
	</div>
</section>
